apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "jenkins-inbound-agent.fullname" . }}
  labels:
    {{- include "jenkins-inbound-agent.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "jenkins-inbound-agent.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "jenkins-inbound-agent.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "jenkins-inbound-agent.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          env:
          {{ if .Values.agent.jenkinsSecretName }}
          - name: JENKINS_SECRET
            valueFrom:
              secretKeyRef:
                name: {{ .Values.agent.jenkinsSecretName }}
                key: {{ .Values.agent.jenkinsSecretKey | default "JENKINS_SECRET" }}
          {{ else if .Values.agent.jenkinsSecret }}
          - name: JENKINS_SECRET
            value: {{ .Values.agent.jenkinsSecret }}
          {{ end }}
          - name: JENKINS_URL
            value: {{ .Values.agent.jenkinsUrl }}
          - name: JENKINS_AGENT_NAME
            value: {{ .Values.agent.name }}
          - name: JENKINS_AGENT_WORKDIR
            value: {{ .Values.agent.workDir }}
          - name: JENKINS_TUNNEL
            value: {{ .Values.agent.jenkinsTunnel }}
          {{- if .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
        {{ if .Values.agent.kaniko.enabled }}
        - name: kaniko
          image: gcr.io/kaniko-project/executor:debug
          command:
            - /busybox/sleep
            - infinity
          volumeMounts:
          - name: workspace
            mountPath: /workspace
          - name: dockerhub-secret
            mountPath: /kaniko/.docker
            readOnly: true
        {{- end }}
      
      volumes:
        {{ if .Values.agent.kaniko.enabled }}
        - name: workspace
          emptyDir: {}
        - name: dockerhub-secret
          secret:
            secretName: {{ .Values.agent.kaniko.dockerSecretName }}
            items:
              - key: .dockerconfigjson
                path: config.json
        {{- end }}
        {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
